{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <style>
        a {
        text-decoration: none;
        }

        h1 {
            text-align: center;
        }

        .display-none {
            display: none;
        }
    </style>

    <script>
        function calcola_colore_importi() {
            const importi = document.querySelectorAll(".importo");
            importi.forEach(span => {
                span.classList.remove("text-danger", "text-secondary", "text-success");

                let numero = parseFloat(span.textContent.replace(",", ".")).toFixed(3)  // sostituisco la virgola al punto

                if (numero < 0)
                    span.classList.add("text-danger")
                else if (numero == 0)
                    span.classList.add("text-secondary")
                else
                    span.classList.add("text-success")

                span.textContent = Math.abs(numero)
            });
        };

        // Funzione 'utility' per mostrare popup sopra tutto
        // nota: bisogna aver definito la variabile popup
        function popUp(contenuto, f_chiudi=() => {})
        {
            let maxWidth = document.body.offsetWidth;
            let maxHeigth = document.body.offsetHeight;

            let div = document.createElement("div");
            div.id = "popup";
            div.appendChild(contenuto);

            div.classList.add("flex");
            div.style.alignItems = "center";

            div.style.boxShadow = "0 2px 4px rgba(0, 0, 0, 0.2)";

            div.style.zIndex = 1000;
            div.style.position = "absolute";
            div.style.width = parseInt(maxWidth * 0.7) + "px";
            div.style.height = parseInt(maxHeigth * 0.7) + "px";

            div.style.left = parseInt(maxWidth * 0.14) + "px";
            div.style.top = parseInt(maxHeigth * 0.14) + "px";
        
            div.style.backgroundColor = "white"

            document.body.appendChild(div);
            container.style.pointerEvents = "none";

            let lambda = (event) => {
                window.removeEventListener("mousedown", (event) => {if (!div.contains(event.target)) lambda()})

                div.remove();
                container.style.pointerEvents = "auto";

                f_chiudi();
            };

            div.chiudi = lambda;

            window.addEventListener("mousedown", (event) => {if (!div.contains(event.target)) lambda()})
        }
    </script>
    {% block head %}{% endblock %}

    <title>{% block titolo %}{% endblock %}</title>
</head>
<body>
    {% block body%}
    {% endblock %}
</body>
</html>

