{% extends 'base.html' %}
{% load static %}
{% load tz %}

<!-- Head content -->
{% block head %}
{% csrf_token %}
{% endblock %}

<!-- Title -->
{% block titolo %}Prodotti{% endblock %}

<!-- Body content -->
{% block body%}

{% if user.is_authenticated is False %}
<p>Non sei loggato, esegui il <a href="{% url 'login' %}"></a> per continuare oppure <a href="{% url 'register' %}">registrati</a></p>
{% else %}
<style>
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    p, h3 {
        padding: 10px;
        margin: 0px;
    }

    .center-column {
        text-align: center;
    }

    .link-prod {
        cursor: pointer;
    }
</style>
{% if request.user.societa is None %}
    <p>Non hai ancora una societa associata a questo utente! <a href="{% url 'nuova-societa' %}">Creala ora</a></p>
{% else %}
<div id="container">
    <h1>{{ request.user.societa.nome }}</h1>

    <div id="azioni">
        <a href="{% url 'home' %}">Home</a>
        <button id="btn-nuovo-prod" class="crea-nuovo btn btn-primary">Nuovo Prodotto</button>
    </div>

    <table id="tb-prodotti" class="table">
        <thead>
            <th scope="col" class="center-column">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Costo per pezzo</th>
            <th scope="col">Costo orario</th>
            <th scope="col">Spesa Totale</th>
            <th scope="col">Data Creazione</th>
            <th scope="col">Ultima modifica</th>
            <th scope="col">Apri</th>
        </thead>
    
        <tbody>
            {% for prodotto in prodotti %}
                <tr codice="{{ prodotto.codice }}" url="{% url 'visualize' prodotto.obj.nome_slug %}" >
                    <td class="center-column">
                        <svg class="tre-punti" version="1.0" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 512 512">
                        <path d="M241 32.6c-21.1 5.5-38.9 23.3-44.5 44.4-1.9 7.3-1.9 22.6.1 30.3 2.8 10.9 7.9 19.5 16.8 28.2 12.4 12.3 25.7 17.8 42.6 17.8 17 0 30.2-5.5 42.6-17.8 12.8-12.7 18.4-25.8 18.4-42.8 0-11.4-1.4-17.5-6.2-27.6-7.5-15.7-22.9-28.2-40.3-32.6-7.4-1.9-22.2-1.8-29.5.1zm-.5 163.9c-20.9 5.8-38.4 23.4-44 44.5-.8 3-1.5 9.8-1.5 15s.7 12 1.5 15c5.6 21.3 23.2 38.9 44.5 44.5 7.3 2 22.6 1.9 30.4-.1 20.7-5.3 38.5-23.3 44.1-44.4 1.9-7.1 1.9-22.9 0-30-5.6-21.1-23.4-39.1-44.1-44.4-7.5-1.9-23.9-2-30.9-.1zm6.3 162.6c-23.3 3.5-44.3 22.6-50.2 45.6-1.8 7.1-2.1 20.9-.5 28.5 4.4 21.3 23.4 40.7 45.4 46.3 7.6 1.9 21.4 1.9 29 0 21.9-5.6 39.4-23.1 45-45 2-7.7 1.9-22.1-.1-29.9-3.5-13.6-14-28.2-26.2-36.2-11.3-7.5-28.9-11.4-42.4-9.3z"/>
                        </svg>
                    </td>
                    
                    <th class="nome-prod" scope="row"><span>{{ prodotto.obj.nome }}</span></th>  <!-- Nome Prodotto -->
                    <td><span class="importo">{{ prodotto.obj.totale.pezzo }}</span>€</td>  <!-- Spesa Pezzi -->
                    <td><span class="importo">{{ prodotto.obj.totale.ora }}</span>€</td>  <!-- Spesa Orari -->
                    <td><span class="importo">{{ prodotto.obj.totale.pezzo |add:prodotto.obj.totale.ora }}</span>€</td>  <!-- Spesa Totale -->
                    <td class="data-creazione"><span>{{ prodotto.obj.data_creazione|date:"d F Y H:i" }}</span></td>  <!-- Data Creazione -->
                    <td class="data-mod"><span>{{ prodotto.obj.data_ultima_modifica|date:"d F Y H:i" }}</span></td>  <!-- Data Ultima Modifica-->
                    <td class="link-prod text-primary"><span>Apri Prodotto</span></td>  <!-- Link Prodotto-->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="popUp-element" class="display-none">
    <div class="popUp-nuovo-prodotto">
        <h2>Crea Nuovo Prodotto</h2>

        <form action="javascript:void(0)" method="post">
            <div class="form-group row">
                <label for="inputNomeProd" class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-8"><input type="text" id="inputNomeProd" name="nome" maxlength="120" placeholder="nome prdotto" autocomplete="off" required></div>
            </div>
            <button class="btn btn-primary" type="submit">Crea Prodotto</button>
        </form>
    </div>
    
    <div class="example-tr-prod">
        <table>
            <tbody>
                <tr>
                    <td class="center-column">
                        <svg class="tre-punti" version="1.0" xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 512 512">
                        <path d="M241 32.6c-21.1 5.5-38.9 23.3-44.5 44.4-1.9 7.3-1.9 22.6.1 30.3 2.8 10.9 7.9 19.5 16.8 28.2 12.4 12.3 25.7 17.8 42.6 17.8 17 0 30.2-5.5 42.6-17.8 12.8-12.7 18.4-25.8 18.4-42.8 0-11.4-1.4-17.5-6.2-27.6-7.5-15.7-22.9-28.2-40.3-32.6-7.4-1.9-22.2-1.8-29.5.1zm-.5 163.9c-20.9 5.8-38.4 23.4-44 44.5-.8 3-1.5 9.8-1.5 15s.7 12 1.5 15c5.6 21.3 23.2 38.9 44.5 44.5 7.3 2 22.6 1.9 30.4-.1 20.7-5.3 38.5-23.3 44.1-44.4 1.9-7.1 1.9-22.9 0-30-5.6-21.1-23.4-39.1-44.1-44.4-7.5-1.9-23.9-2-30.9-.1zm6.3 162.6c-23.3 3.5-44.3 22.6-50.2 45.6-1.8 7.1-2.1 20.9-.5 28.5 4.4 21.3 23.4 40.7 45.4 46.3 7.6 1.9 21.4 1.9 29 0 21.9-5.6 39.4-23.1 45-45 2-7.7 1.9-22.1-.1-29.9-3.5-13.6-14-28.2-26.2-36.2-11.3-7.5-28.9-11.4-42.4-9.3z"/>
                        </svg>
                    </td>
                    <th class="nome-prod" scope="row"><span></span></th>  <!-- Nome Prodotto -->
                    <td><span class="importo text-success"></span>€</td>  <!-- Spesa Pezzi -->
                    <td><span class="importo text-success"></span>€</td>  <!-- Spesa Orari -->
                    <td><span class="importo text-success"></span>€</td>  <!-- Spesa Totale -->
                    <td class="data-creazione"><span></span></td>  <!-- Data Creazione -->
                    <td class="data-mod"><span></span></td>  <!-- Data Ultima Modifica-->
                    <td class="link-prod text-primary"><span>Apri Prodotto</span></td>  <!-- Link Prodotto-->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/prodotti.js' %}"></script>
{% endif %}
{% endif %}

{% endblock %}
